.nav-link {
    color: gray;
  }
  .nav-link.active {
    color: rgb(76, 241, 70);
  }
  .texto {
    position: absolute;
    top: 40rem;
    left: 60%;
    color: white;
    text-align: right;
    padding-right: 10rem;
  }
  .tex {
    text-align: center;
    padding-top: 1rem;
  }
  .cajas {
    padding: 2rem 5rem;
  }
  .buton {
    width: 500rem;
    
  }
  .centered-form {
    margin-top: 5%;
  }
  
.col {
margin:65px;


}
.col .p-3{
margin: 45px;

}






  